html body{
	font-family: 'Muli','Roboto Slab';
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

.primary-blue{
	color: #27198C;
}

.primary-orange{
	color: #FE7010;
}

.heading-grey{
	color:#BEBEBE;
}

.border-grey{
	color: #E5E5E5;
}

.panel-grey{
	color: #E5E5E5;
}

.off-black{
	color: #191919;
}

.w-100{
	width:100%;
}

.container{
	margin-top: 60px;
	margin-bottom: 60px;

}
.section-heading{
	margin-bottom: 20px;
	height: 20px;
	font-family: "Roboto Slab";	
	font-size: 18px;	
	font-weight: bold;	
	letter-spacing: 1.4px;	
	line-height: 28px;
}

.highlight-paragraph{
	margin-bottom: 30px;
	font-size: 30px;	
	font-weight: 900;	
	line-height: 44px;
}

.sed-ut-perspiciatis{
	font-size: 16px;	
	font-weight: 600;	
	line-height: 30px;
}

.button{
	margin-bottom: 40px;
	width:200px;
	height: 50px;
	box-sizing: border-box;		
	border: 1px solid #FF6F0F;
	transition: 0.3s linear;
}

.button:hover{
	border: 1px solid #27198C;
	background-color: #27198C; 

}

.button:hover .button-text{
	color:#fff;
}

.button:hover .icon{
	background-color: #27198C;
}

.button-text{
	display: flex;
	justify-content: center;
	align-items: center;
	width:150px;
	font-size: 12px;	
	font-weight: 900;	
	letter-spacing: 1.4px;	
	line-height: 15px;
	text-decoration:none;
}

.icon{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	background-color: #FF6F0F;
	color:#fff;
	font-size: 26px;
	transition: 0.3s linear;
}

.plus{
	width:16px;
	height: 16px;
}

.mobile-carousel{
	display: none;
}

.left-image{
	margin-bottom: 40px;
}

.icon-groups{
	margin-top: 60px;
	margin-bottom: 40px;
	margin-bottom: 13px;
}

.icon-number{
	font-family: Muli;	
	font-size: 36px;	
	font-weight: 900;	
	line-height: 46px;
	text-align: left !important;
}

.cross{
	height: 70px;
	width: 70px;
}

.icon-text{
	text-transform: uppercase;
	font-family: "Roboto Slab";	
	font-size: 12px;	
	font-weight: bold;	
	letter-spacing: 1.4px;	
	line-height: 20px;	
}

.right-image{
	margin-bottom: 20px;
}

/*Responsive Layout*/

@media screen and (max-width: 992px) {

	.section-heading{
		font-size: 16px;
		height: 26px;
		margin-bottom: 10px;
	}

	.highlight-paragraph{
		font-size: 24px;
		line-height: 38px;
		margin-bottom: 20px;
	}

	.sed-ut-perspiciatis{
		font-size: 14px;
		line-height: 28px;
	}

	.icon-number{
		display: none;
	}

	.icon-groups{
		margin-top: 40px;
	}

	.icon-group{
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}
	
	.cross{
		width: 38.95px;
		height: 38.95px;
	}

	.icon-text{
		margin-left: 20px;
	}

}
