html body{
	font-family: 'Muli','Roboto Slab';
}

.primary-blue{
	color: #27198C;
}

.primary-orange{
	color: #FE7010;
}

.heading-grey{
	color:#BEBEBE;
}

.border-grey{
	color: #E5E5E5;
}

.panel-grey{
	color: #E5E5E5;
}

.off-black{
	color: #191919;
}

.section-heading{

}

.button{

}

